# Python cache
__pycache__/
*.pyc

# Build folders
.dist/
PngSeq/

# FFmpeg files
ffmpeg-*.zip
ffmpeg/

# Video outputs
*.mp4
*.mov
*.avi
*.mkv

# Image sequences
*.png
*.jpg
*.jpeg

# Temp files
temp/
*.tmp

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Ignore all python files except png_to_mp4.py
rename_frames.py

#other files
.gitignore